<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Filter</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>alpha</servlet-name>
  	<servlet-class>com.revature.servlet.AlphaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>alpha</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>5</session-timeout>
  </session-config>
  <filter>
  	<filter-name>auth</filter-name>
  	<filter-class>com.revature.web.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>auth</filter-name>
  	<url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>audit</filter-name>
  	<filter-class>com.revature.web.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>audit</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>